footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -50px;
    background-color: #0B1D26;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

}